@import url('https://fonts.googleapis.com/css2?family=Basic&family=Nunito&family=Rajdhani&family=Ubuntu&display=swap');

/* font-family: 'Basic', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Ubuntu', sans-serif; 
    font-family: 'Rajdhani', sans-serif; */


:root {
    --most-used-clr: black;
    --local-clr: white;
    --image-border-clr: #dcdcdc;
    --sale-clr: #93af76;
    --btn-clr: #c41230;
    --search-footer-clr: #efede9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Nunito', sans-serif;
}

#products>h1 {
    font-size: 3.1rem;
    text-align: center;
    padding: 30px 0;
}

#cook-ware {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    grid-gap: 25px;
    margin: 30px 30px;
}


.cook-ware-items {
    font-family: 'Nunito', sans-serif;
    /* font-size: 16px; */
    font-weight: 500;
}

.cook-ware-items i {
    color: var(--most-used-clr);
    font-size: 0.7rem;
    opacity: 0.7;
}

.cook-ware-items>p:hover {
    color: #8f8b8b;
    transition: all 0.5s;
    cursor: pointer;
}

.product-img {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid var(--image-border-clr);
    border-radius: 3px;
    margin: 0 0 20px 0;
    transition: all 0.5s;
}

.product-img img {
    width: 200px;
}

/* .product-img img {
    width: 150px;
} */
/* .product-img {
    width: 170px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin: 0 0 20px 0;
} */

.product-img:hover {
    box-shadow: 0 0 5px #62626261;
    transition: all 0.4s;
}


/* .product-img:hover img {
    transform: scale(1.005);
    transition: all 0.5s
} */

.price {
    margin: 5px 0;
    /* font-weight: bold; */
    transition: 0.5s;
    color: rgb(173, 174, 175);
}

.price-cart {
    width: 150px;
    height: 40px;
    overflow: hidden;
}

.btn {
    background-color: #000000;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    top: 50px;
    transition: 0.5s;
}

.cook-ware-items:hover .btn {
    transform: translate(0, -75px);
    transition: all 0.5s;
}

.cook-ware-items:hover .price {
    transform: translate(0, -50px);
    transition: all 0.5s;
}

.btn:hover {
    background-color: #444444;
    cursor: pointer;
    transition: all 0.4s;
}

/* Refrigerator */

.freezer {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 207px !important;
    height: 180px;
}

/* Ice Cream Maker */

.ice-cream-maker {
    width: 130px !important;
}

/* Bread Maker */

.bread-maker {
    width: 170px !important;
}

/* Cofee Maker */

.cofee-maker img {

    width: 120px !important;
}

/* Electric Kettle */

.electric-kettle img {
    width: 145px;
}

/*  Food Choper */

.food-choper img {
    width: 130px;
}

/* Toaster */

.toaster img {
    width: 145px;
}

/* Spice Jar */

.spice-jar img {
    width: 135px;
}