:root{
    --most-used-clr:black;
    --local-clr:white;
}


*{margin: 0;padding: 0;box-sizing: border-box;}
.swiper{width: auto;height: fit-content;}
.swiper-wrapper img{width: 100%;}
a{text-decoration: none;color: black;}
.logo{font-family: 'Pacifico', cursive;padding-left: 7px;}
.logo sup{margin-left: -16px;}
.left-nav{ display: inline-block;}
body{font-family: 'Nunito', sans-serif; }
/* one liner end */


/* Navigation work   */
.nav{
    /* background-color: aqua; */
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    
}

.left-nav>ul{
    display: flex;
    list-style: none;
    /* justify-content: space-around; */
    padding: 15px 0px;
    font-weight: 500;
}
.left-nav>ul>li{
    padding: 10px;
}
.left-nav ul li{
    cursor: pointer;
}
.right-nav{
    display: inline-block;
    padding-right: 10px;
}
.right-nav ul{
    list-style: none;
    display: flex;
    float: right;
    padding: 25px 0px;
}
.right-nav ul li:nth-child(1) ,.right-nav ul li:nth-child(2){
    padding-right: 10px;
    border-right: 1px solid black;
    margin-right: 10px;
}
i:hover{
    cursor: pointer;
}


/* Navigation End  */

/* Search work start */

#search-bar{
 background-color: rgb(174, 169, 169);
 height: 40vh;
 width: 100%;
 text-align: center;
 color: rgb(55, 55, 53);
 font-family: 'Courier New', Courier, monospace;
 padding: 100px 0px;
 position: absolute;
 top: -500px;
 z-index: 10;
 transition: all 2s;
 
}
#search-bar input{
    width: 60%;
    height: 42px;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid grey;
}
.search-icon{
    position: absolute;
    right: 285px;
    height: 41px;
    width: 50px;
    padding: 5px 0px;
    color: white;
    background-color: black;
    border-radius: 0% 5px 5px 0%;
}
.cross{
    position: absolute;
    top: 10px;
    right: 15px;
}

/* Search work end  */

/* dropdown work start  */

.dropdown-menu{
    background-color: rgb(174, 169, 169);
    width: auto;
    height: auto;
    position: absolute;
    left: -1000px;
    z-index: 100;
    display: flex;
    padding: 10px 0px;
    transition: ease-in 2s;
}
.show-dropdown{
    left: 500px;
}
.dropdown-menu-first ul{
 display: flex;
 width: auto;
 padding: 40px 60px 0px 60px;
 flex-direction: column;
 list-style: none;
}
.dropdown-menu-first ul li{
    padding: 10px 0px;
}

.main-top-products{
    height: 90vh;
    display: flex;
    padding: 40px 20px ;
} .main-top-products a{flex: 1;}
.left-top-products{
    background-image: url("../images/built-in-kitchen-category-banner-1.webp");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    padding: 20px;
}
.right-top-products{
    flex: 1;
    height: auto;
}
.box-1-right-products{
    background: url("../images/washing-machine-catgory-banner-1.webp");
    height: 49.5%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}
.box-2-right-products{
    background-image: url("../images/geyser-category-banner-1-1.webp");
    height: 49%;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.left-top-products button , .box-1-right-products button , .box-2-right-products button{
    background-color: var(--local-clr);
    color: var(--most-used-clr);
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.main-top-products  a:hover button{
    cursor: pointer;
    color: var(--local-clr);
    background-color: var(--most-used-clr);
}