*{margin: 0;padding: 0;box-sizing: border-box;}
.swiper{width: auto;height: fit-content;}
.swiper-wrapper img{width: 100%;}
a{text-decoration: none;color: black;}
.logo{font-family: 'Pacifico', cursive;padding-left: 7px;}
.logo sup{margin-left: -16px;}
.left-nav{ display: inline-block;}

/* one liner end */


/* Navigation work   */
.nav{
    /* background-color: aqua; */
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}

.left-nav ul{
    display: flex;
    list-style: none;
    /* justify-content: space-around; */
    padding: 15px 0px;
    font-weight: 500;
    position: relative;
}
.left-nav ul li{
    padding: 10px;
}
.right-nav{
    display: inline-block;
    padding-right: 10px;
}
.right-nav ul{
    list-style: none;
    display: flex;
    float: right;
    padding: 25px 0px;
}
.right-nav ul li:nth-child(1) ,.right-nav ul li:nth-child(2){
    padding-right: 10px;
    border-right: 1px solid black;
    margin-right: 10px;
}
.right-nav ul li i:hover{
    cursor: pointer;
}


/* Navigation End  */

/* Search work start */

#search-bar{
 background-color: rgb(174, 169, 169);
 height: 40vh;
 width: 100%;
 text-align: center;
 color: rgb(55, 55, 53);
 font-family: 'Courier New', Courier, monospace;
 padding: 100px 0px;
 position: absolute;
 top: -500px;
 z-index: 10;
 transition: all 2s;
 
}
#search-bar input{
    width: 60%;
    height: 42px;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid grey;
}
.search-icon{
    position: absolute;
    right: 285px;
    height: 41px;
    width: 50px;
    padding: 5px 0px;
    color: white;
    background-color: black;
    border-radius: 0% 5px 5px 0%;
}
.cross{
    position: absolute;
    top: 10px;
    right: 15px;
}

/* Search work end  */

/* dropdown work start  */

.dropdown-menu{
    background-color: aqua;
    width: auto;
    height: auto;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    display: flex;
    padding: 10px 0px;
    text-align: center;
}
.dropdown-menu-first ul{
 display: flex;
 width: auto;
 padding: 40px 60px 30px 60px;
 flex-direction: column;
}